@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


* {
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}
button {
  cursor: pointer;
  border: none;
}
select {
  border-radius: 4px;
  text-align: center;
}

.istruzione{
  background-color: #dddddd;
}
label{
  font-size: 25px;
  caret-color: transparent;
}

.home_page {
  caret-color: transparent;
}

.container_site{

}

.register,
.login,
.home,
.submit{
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;

}

.container_img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh; /* Altezza pari all'altezza della viewport */
}
.img_home{
  width: 150px; /*  la larghezza desiderata */
  height: auto; /* Mantiene le proporzioni */
  max-width: 100%; /* Assicura che l'immagine non superi la larghezza del contenitore */
}

.search-bar-container{
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction:  column;
  align-items: center;
  min-width: 200px;

}
