
.submit-form {
    font-weight: bold;
    color: #15171c;
    font-size: 25px;
    background-color: #dddddd;
}
.form-control {
    color: #405d27;
    font-weight: bold;
}

h2 {
    color: #15171c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.Iframe_doc {
    width: 100%;
    height: 90vh;
}

button {
    display: flex;
    justify-content: center;
    gap: 10px;
}
